# Ignore Python bytecode files
*.pyc
__pycache__/

# IDE configuration
.idea/

# Ignore the virtual environment directory (if used)
.venv/

# Ignore the .env file containing sensitive data
.env

# Ignore SQLite database file (if used)
db.sqlite3
